{% extends 'ce_container_noindex.html5.twig' %}

{% block element %}nav{% endblock %}

{% block content %}
	<a href="{{ _env.request }}#toc_skip_{{ id }}" class="invisible">{{ _lang.MSC.skipNavigation }}</a>

	{{ xnav_list(items) }}

	<a id="toc_skip_{{ id }}" class="invisible">&nbsp;</a>
{% endblock %}
